[submodule "icecream"]
	path = icecream
	url = git@github.com:renatoGarcia/icecream-cpp.git
[submodule "caravan-lib"]
	path = caravan-lib
	url = git@github.com:yohm/caravan-lib.git
[submodule "json"]
	path = json
	url = git@github.com:nlohmann/json.git
